In [21]:
import pandas as pd

In [22]:
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 

stadium_data = pd.read_csv("nfl_stadiums.csv") 

# Preview the first 5 lines of the loaded data 
stadium_data.head()

,team_abbv,stadium_home_team,stadium_name,stadium_capacity,stadium_location,stadium_surface,stadium_roof_type,stadium_opened,stadium_latitude,stadium_longitude
0,ARI,Arizona Cardinals,State Farm Stadium,"63,400","Glendale, Arizona",Natural Grass,Retractable,2006,33.538651,-112.185989
1,ATL,Atlanta Falcons,Mercedes-Benz Stadium,"71,000","Atlanta, Georgia",Synthetic Grass,Retractable,2017,33.748997,-84.387985
2,BAL,Baltimore Ravens,M&T Bank Stadium,"71,008","Baltimore, Maryland",Natural Grass,Open,1998,39.277900,-76.622700
3,BUF,Buffalo Bills,New Era Field,"71,608","Orchard Park, New York",Synthetic Grass,Open,1973,42.767460,-78.743912
4,CAR,Carolina Panthers,Bank of America Stadium,"75,523","Charlotte, North Carolina",Natural Grass,Open,1996,35.225840,-80.853310

In [23]:
stadium_data_C = stadium_data.rename(columns={"team_abbv": "Team"})
stadium_data_C.head()

,Team,stadium_home_team,stadium_name,stadium_capacity,stadium_location,stadium_surface,stadium_roof_type,stadium_opened,stadium_latitude,stadium_longitude
0,ARI,Arizona Cardinals,State Farm Stadium,"63,400","Glendale, Arizona",Natural Grass,Retractable,2006,33.538651,-112.185989
1,ATL,Atlanta Falcons,Mercedes-Benz Stadium,"71,000","Atlanta, Georgia",Synthetic Grass,Retractable,2017,33.748997,-84.387985
2,BAL,Baltimore Ravens,M&T Bank Stadium,"71,008","Baltimore, Maryland",Natural Grass,Open,1998,39.277900,-76.622700
3,BUF,Buffalo Bills,New Era Field,"71,608","Orchard Park, New York",Synthetic Grass,Open,1973,42.767460,-78.743912
4,CAR,Carolina Panthers,Bank of America Stadium,"75,523","Charlotte, North Carolina",Natural Grass,Open,1996,35.225840,-80.853310

In [24]:
Coordinates = stadium_data_C.drop(columns=['stadium_home_team','stadium_name','stadium_name','stadium_surface','stadium_roof_type', 'stadium_capacity','stadium_location','stadium_opened'])
Coordinates.head()

  Team  stadium_latitude  stadium_longitude
0  ARI         33.538651        -112.185989
1  ATL         33.748997         -84.387985
2  BAL         39.277900         -76.622700
3  BUF         42.767460         -78.743912
4  CAR         35.225840         -80.853310

In [25]:
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 

team_perf = pd.read_csv('CSV files/Home_win_score.csv') 

# Preview the first 5 lines of the loaded data 
team_perf.head()

,Team,Win %,homeWin %,homeLoss %,awayWin %,awayLoss %,own_score@home,other_score@home,own_score@away,other_score@away
0,ARI,0.1875,0.125,0.875,0.250,0.750,12.250,23.875,15.875,29.250
1,ATL,0.4375,0.500,0.500,0.375,0.625,29.500,26.875,22.250,26.000
2,BAL,0.6250,0.750,0.250,0.500,0.500,27.125,17.250,21.500,18.625
3,BUF,0.3750,0.500,0.500,0.250,0.750,18.875,23.375,14.750,23.375
4,CAR,0.4375,0.625,0.375,0.250,0.750,25.500,21.875,21.500,25.875

In [26]:
#combined table averaging all the data
combined_table_C=pd.merge(team_perf, Coordinates, on=["Team"])
combined_table_C.head()

,Team,Win %,homeWin %,homeLoss %,awayWin %,awayLoss %,own_score@home,other_score@home,own_score@away,other_score@away,stadium_latitude,stadium_longitude
0,ARI,0.1875,0.125,0.875,0.250,0.750,12.250,23.875,15.875,29.250,33.538651,-112.185989
1,ATL,0.4375,0.500,0.500,0.375,0.625,29.500,26.875,22.250,26.000,33.748997,-84.387985
2,BAL,0.6250,0.750,0.250,0.500,0.500,27.125,17.250,21.500,18.625,39.277900,-76.622700
3,BUF,0.3750,0.500,0.500,0.250,0.750,18.875,23.375,14.750,23.375,42.767460,-78.743912
4,CAR,0.4375,0.625,0.375,0.250,0.750,25.500,21.875,21.500,25.875,35.225840,-80.853310

In [27]:
combined_table_C.to_json(r'Json files\Home_win_score_Coordinates.json')
combined_table_C.to_csv(r'CSV files\Home_win_score_Coordinates.csv')

In [28]:
#combined table averaging all the data
combined_table=pd.merge(team_perf, stadium_data_C, on=["Team"])
combined_table.head()

,Team,Win %,homeWin %,homeLoss %,awayWin %,awayLoss %,own_score@home,other_score@home,own_score@away,other_score@away,stadium_home_team,stadium_name,stadium_capacity,stadium_location,stadium_surface,stadium_roof_type,stadium_opened,stadium_latitude,stadium_longitude
0,ARI,0.1875,0.125,0.875,0.250,0.750,12.250,23.875,15.875,29.250,Arizona Cardinals,State Farm Stadium,"63,400","Glendale, Arizona",Natural Grass,Retractable,2006,33.538651,-112.185989
1,ATL,0.4375,0.500,0.500,0.375,0.625,29.500,26.875,22.250,26.000,Atlanta Falcons,Mercedes-Benz Stadium,"71,000","Atlanta, Georgia",Synthetic Grass,Retractable,2017,33.748997,-84.387985
2,BAL,0.6250,0.750,0.250,0.500,0.500,27.125,17.250,21.500,18.625,Baltimore Ravens,M&T Bank Stadium,"71,008","Baltimore, Maryland",Natural Grass,Open,1998,39.277900,-76.622700
3,BUF,0.3750,0.500,0.500,0.250,0.750,18.875,23.375,14.750,23.375,Buffalo Bills,New Era Field,"71,608","Orchard Park, New York",Synthetic Grass,Open,1973,42.767460,-78.743912
4,CAR,0.4375,0.625,0.375,0.250,0.750,25.500,21.875,21.500,25.875,Carolina Panthers,Bank of America Stadium,"75,523","Charlotte, North Carolina",Natural Grass,Open,1996,35.225840,-80.853310

In [29]:
by_surface = combined_table.drop(columns=['Team','stadium_home_team','stadium_name','stadium_name','stadium_capacity','stadium_location','stadium_opened','stadium_latitude','stadium_longitude'])
by_surface.head()

,Win %,homeWin %,homeLoss %,awayWin %,awayLoss %,own_score@home,other_score@home,own_score@away,other_score@away,stadium_surface,stadium_roof_type
0,0.1875,0.125,0.875,0.250,0.750,12.250,23.875,15.875,29.250,Natural Grass,Retractable
1,0.4375,0.500,0.500,0.375,0.625,29.500,26.875,22.250,26.000,Synthetic Grass,Retractable
2,0.6250,0.750,0.250,0.500,0.500,27.125,17.250,21.500,18.625,Natural Grass,Open
3,0.3750,0.500,0.500,0.250,0.750,18.875,23.375,14.750,23.375,Synthetic Grass,Open
4,0.4375,0.625,0.375,0.250,0.750,25.500,21.875,21.500,25.875,Natural Grass,Open

In [30]:
surface = by_surface.groupby('stadium_surface').mean()
surface.head()

,Win %,homeWin %,homeLoss %,awayWin %,awayLoss %,own_score@home,other_score@home,own_score@away,other_score@away
stadium_surface,,,,,,,,,
Natural Grass,0.486111,0.583333,0.402778,0.388889,0.604167,23.687500,21.513889,22.520833,25.041667
Synthetic Grass,0.508929,0.616071,0.383929,0.401786,0.589286,25.419643,23.178571,21.883929,23.678571